.navigation {
    display: flex;
    height: 88px;
    align-items: flex-start;
}

.item {
    display: flex;
    width: 100px;
    padding-bottom: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    cursor: pointer;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 133.63px;
        height: 0;
        opacity: 0;
        background: transparent;
        transition: height 0.2s, opacity 0.25s;
    }

    &.active {
        &:before {
            height: 88px;
            opacity: 1;
            background: radial-gradient(
                50% 73.15% at 50% 100%,
                rgba(0, 195, 216, 0.6) 0%,
                rgba(33, 34, 52, 0) 100%
            );
            transition: height 0.2s, opacity 0.25s;
        }

        &:after {
            content: "";
            position: absolute;
            width: 24px;
            height: 2px;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            background: #00c3d8;
            filter: drop-shadow(0px -1px 7px rgba(0, 0, 0, 0.5));
        }
    }
}

.item-logo,
.item-label {
    z-index: 2;
}

.item-logo {
    width: 32px;
    height: 32px;
}

.item-label {
    color: var(--Color-text-txt-prm, #fff);
    text-align: center;
    /* Label/label-mainmenu-bold */
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}
