.header {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    background: #0f101d;
    color: #fff;
    padding: 0 24px;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.seperator {
    width: var(--rounded-xs, 4px);
    height: 36px;
    border-radius: 360px;
    background: var(--Color-background-bg-trd, #252634);
}
